<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {{script("/js/jquery-3.3.1.min.js")}}
    {{css("/css/materialize.min.css")}}
  </head>
  <body>
    <div class="container">
    <br><br><br>
      <div class="row">
        <div class=" offset-m4 col m4 s12">
          <form class="" action="index.html" method="post">
            <div class="row">
              <div class="input-field col m12 s12">
                <input type="text" name="" value="">
                <label for="">User name</label>
              </div>

            </div>
            <div class="row">
              <div class="input-field col m12 s12">
                <input type="text" name="" value="">
                <label for="">password</label>
              </div>

            </div>
            <div class="row">
              <input type="submit" name="" class="btn" value="login">
            </div>
          </form>

        </div>

      </div>

    </div>

  </body>
</html>
